<!-- component -->
<div style="background-color: #2226F7;" class="absolute top-0 left-0 bottom-0 leading-5 h-full w-full overflow-hidden">
</div>

<div class="relative min-h-screen sm:flex sm:flex-row justify-center bg-transparent rounded-3xl shadow-xl">
  <div class="flex-col flex self-center lg:px-14 sm:max-w-4xl xl:max-w-md z-10">
    <div class="self-start hidden lg:flex flex-col text-gray-300">
      <h3 style="color: #FFFFFF;" class="my-3 font-semibold text-4xl">¡vamos a jugar!</h3>
      <h1 style="color: #FFD628;" class="pr-3 text-sm">Fuzzy<br>NFRQuest</h1>
    </div>
  </div>
  <div class="flex justify-center self-center z-10">
    <div class="p-12 bg-white mx-auto rounded-3xl w-96">
      <div class="mb-7">
        <h3 style="color: #2226F7;" class="font-semibold text-2xl text-center w-full text-gray-800">Login</h3>
      </div>

      <!-- Alerta de error mejorada -->
      <div *ngIf="showAlert"
        class="bg-red-100 border border-red-400 text-red-700 px-6 py-4 rounded-lg relative mb-4 shadow-lg flex items-center"
        role="alert">

        <!-- Mensaje de error -->
        <span class="flex-1">{{ errorMessage }}</span>

        <!-- Icono de cierre -->
        <div (click)="closeAlert()" class="ml-4">
          <svg class="fill-current h-6 w-6 text-red-500 hover:text-red-700 transition-colors duration-200" role="button"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path
              d="M14.348 14.849a1 1 0 01-1.414 0L10 11.414 7.066 14.348a1 1 0 01-1.414-1.414l2.935-2.935-2.935-2.936a1 1 0 011.414-1.414L10 8.586l2.936-2.935a1 1 0 011.414 1.414l-2.936 2.936 2.936 2.935a1 1 0 010 1.414z" />
          </svg>
        </div>
      </div>

      <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="space-y-4 w-full">
        <div>
          <div class="flex items-center bg-white p-2 rounded-full shadow-md w-full">
            <input style="background-color: transparent;" type="email" id="email" name="email"
              [(ngModel)]="credentials.email" required email #emailInput="ngModel" placeholder="Correo Electrónico"
              class="flex-grow bg-transparent outline-none text-gray-500 px-2 py-1 placeholder-gray-400" />
          </div>
          <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)"
            class="error-message text-sm text-red-500 mt-1 ml-2">
            <div *ngIf="emailInput.errors?.['required']">El correo electrónico es requerido.</div>
            <div *ngIf="emailInput.errors?.['email']">Ingrese un correo electrónico válido.</div>
          </div>
        </div>

        <div>
          <div class="flex items-center bg-white p-2 rounded-full shadow-md w-full">
            <input type="password" id="password" name="password" [(ngModel)]="credentials.password" required
              #passwordInput="ngModel" placeholder="Contraseña"
              class="flex-grow bg-transparent outline-none text-gray-500 px-2 py-1 placeholder-gray-400" />
          </div>
          <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)"
            class="error-message text-sm text-red-500 mt-1 ml-2">
            <div *ngIf="passwordInput.errors?.['required']">La contraseña es requerida.</div>
          </div>
        </div>

        <div class="flex items-center justify-between">
          <div class="text-sm ml-auto">
            <a href="#" class="text-purple-700 hover:text-purple-600">
              Forgot your password?
            </a>
          </div>
        </div>

        <div>
          <button type="submit" [disabled]="!loginForm.valid"
            class="w-full flex justify-center bg-blue-700 hover:bg-blue-600 text-gray-100 p-4 rounded-full tracking-wide font-semibold focus:outline-none focus:shadow-outline shadow-lg cursor-pointer transition ease-in duration-300">
            Ingresar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js"></script>