<div style="background-color: #0D92F4;" class="absolute top-0 left-0 bottom-0 leading-5 h-full w-full overflow-hidden">
</div>


<div
  class="relative min-h-screen flex flex-col-reverse sm:flex-row justify-center bg-transparent rounded-3xl shadow-xl p-6 sm:p-12">
  <div
    class="flex flex-col items-center lg:items-start justify-center lg:px-14 sm:max-w-4xl xl:max-w-md z-10 sm:order-1 order-2">
    <div class="self-center lg:self-start flex flex-col text-center lg:text-left text-gray-300 mt-6 sm:mt-0">
      <h3 style="color: #FFFFFF;" class="my-3 font-semibold text-4xl lg:text-4xl sm:text-3xl text-center">
        {{ 'LOGIN.GAME' | translate }}
      </h3>
      <h1 style="color: #FFD628;" class="pr-3 text-sm sm:text-xl lg:text-xl">
        FRUIT
        <!-- Fuzzy<br />NFRQuest -->
      </h1>
    </div>
  </div>

  <div class="flex justify-center items-center self-center z-10 sm:order-2 order-1">
    <div class="p-8 sm:p-10 bg-white mx-auto rounded-2xl w-full sm:w-96 max-w-lg shadow-lg">
      <div class="mb-6">
        <div class="relative flex justify-end">
          <!-- Botón del icono -->
          <button id="language-menu-button"
            (click)="toggleLanguageMenu()"
            class="p-2 bg-gray-100 rounded-full hover:bg-gray-200 focus:outline-none focus:ring focus:ring-gray-300"
          >
            <!-- <svg id="language-menu-svg" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6 text-gray-600">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 5.75h16.5m-16.5 6.5h16.5m-16.5 6.5h16.5" />
            </svg> -->
            <svg id="language-menu-svg" viewBox="0 0 24 24" stroke-width="2" stroke="black" fill="none" stroke-linecap="round" stroke-linejoin="round" class="w-6 h-6 text-gray-600">  
              <path id="language-menu-path" stroke="none" d="M0 0h24v24H0z"/>  
              <path id="language-menu-path" d="M5 7h7m-2 -2v2a5 8 0 0 1 -5 8m1 -4a7 4 0 0 0 6.7 4" />  
              <path id="language-menu-path" d="M11 19l4 -9l4 9m-.9 -2h-6.2" />
            </svg>
          </button>
    
          <div id="language-menu"
            *ngIf="isLanguageMenuOpen"
            class="absolute right-7 mt-2 w-40 bg-white border border-gray-200 rounded-md shadow-lg z-10"
          >
            <ul class="py-1">
              <li>
                <button
                  (click)="changeLanguage('en')"
                  class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 w-full text-left"
                >
                  {{ 'LOGIN.ENGLISH' | translate }}
                </button>
              </li>
              <li>
                <button
                  (click)="changeLanguage('es')"
                  class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 w-full text-left"
                >
                  {{ 'LOGIN.SPANISH' | translate }}
                </button>
              </li>
            </ul>
          </div>
        </div>
        <h3 class="font-semibold text-xl text-center text-[#0D92F4]">{{ 'LOGIN.TITLE' | translate }}</h3>
      </div>
      <!-- <div class="mb-4">
        <label for="language-select" class="block text-sm font-medium text-gray-700">
          {{ 'LOGIN.SELECT_LANGUAGE' | translate }}
        </label>
        <select
          id="language-select"
          (change)="changeLanguage($event)"
          class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
        >
          <option value="en">{{ 'LOGIN.ENGLISH' | translate }}</option>
          <option value="es">{{ 'LOGIN.SPANISH' | translate }}</option>
        </select>
      </div> -->

      


      <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="space-y-4">
        <div>

          <input type="email" id="email" name="email" [(ngModel)]="credentials.email" required email
            #emailInput="ngModel" placeholder="{{ 'LOGIN.EMAIL' | translate }}"
            class="w-full bg-gray-50 p-3 rounded-xl outline-none border border-gray-200 shadow-sm text-grey-700 text-sm" />

          <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)"
            class="error-message text-xs text-red-500 mt-1 ml-1">
            <div *ngIf="emailInput.errors?.['required']">{{ 'LOGIN.ERROR.EMAIL_REQUIRED' | translate }}</div>
            <div *ngIf="emailInput.errors?.['email']">{{ 'LOGIN.ERROR.EMAIL_INVALID' | translate }}</div>
          </div>
        </div>

        <div class="relative">
          <input [type]="showPassword ? 'text' : 'password'" id="password" name="password"
            [(ngModel)]="credentials.password" required #passwordInput="ngModel" placeholder="{{ 'LOGIN.PASSWORD' | translate }}"
            class="w-full bg-gray-50 p-3 rounded-xl outline-none border border-gray-200 shadow-sm text-gray-700 text-sm" />

          <button type="button" (click)="togglePasswordVisibility()"
            class="absolute top-1/2 transform -translate-y-1/2 right-3 text-gray-400 hover:text-gray-600 focus:outline-none">
            <ng-container *ngIf="showPassword; else hideIcon">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                class="h-5 w-5">
                <path
                  d="M12 4.5C7.305 4.5 3.354 7.823 2.1 12c1.253 4.177 5.205 7.5 9.9 7.5 4.696 0 8.648-3.323 9.9-7.5-1.253-4.177-5.205-7.5-9.9-7.5zm0 11.25c-2.07 0-3.75-1.68-3.75-3.75S9.93 8.25 12 8.25s3.75 1.68 3.75 3.75-1.68 3.75-3.75 3.75z" />
                <circle cx="12" cy="12" r="2.25" />
              </svg>
            </ng-container>
            <ng-template #hideIcon>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                class="h-5 w-5">
                <path
                  d="M12 4.5C7.305 4.5 3.354 7.823 2.1 12c1.253 4.177 5.205 7.5 9.9 7.5 4.696 0 8.648-3.323 9.9-7.5-1.253-4.177-5.205-7.5-9.9-7.5zm0 11.25c-2.07 0-3.75-1.68-3.75-3.75S9.93 8.25 12 8.25s3.75 1.68 3.75 3.75-1.68 3.75-3.75 3.75z" />
                <circle cx="12" cy="12" r="2.25" />
                <line x1="2" y1="2" x2="22" y2="22" stroke="currentColor" stroke-width="1.5" />
              </svg>
            </ng-template>
          </button>
        </div>
        <div class="text-right">
          <a (click)="navigationToPage('/forget-password')" class="text-sm text-[#0D92F4] hover:underline">{{ 'LOGIN.FORGOT_PASSWORD' | translate }}</a>
        </div>
        <div>
          <button type="submit" [disabled]="!loginForm.valid"
            class="w-full bg-[#0D92F4] hover:bg-blue-500 text-white py-3 rounded-2xl text-sm font-medium focus:outline-none focus:ring-2 focus:ring-blue-400 shadow-md transition duration-200">
            {{ 'LOGIN.BUTTON' | translate }}
          </button>
          <div class="create-account text-center mt-4 text-sm text-gray-600">
            <p>
              {{ 'LOGIN.NO_ACCOUNT' | translate }}
              <a class="text-[#0D92F4] font-medium hover:underline" (click)="navigationToPage('/register')">{{ 'LOGIN.SIGN_UP' | translate }}</a>
            </p>
          </div>

        </div>
      </form>
    </div>
  </div>

</div>