<div class="flex justify-center pt-16">
    <div class="bg-white p-8 rounded-3xl shadow-xl max-w-lg w-full">
        <div *ngIf="showAlert"
            class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-6 flex items-center"
            role="alert">
            <span class="block sm:inline">{{ errorMessage }}</span>
            <button type="button" class="text-red-500 ml-auto" (click)="closeAlert()">
                &times;
            </button>
        </div>

        <p class="text-center text-md font-medium text-[#595858] mb-6">
            Por favor, ingresa el código del juego
        </p>
        <div class="flex items-center space-x-4">
            <input [(ngModel)]="gameCode" type="text" placeholder="Escriba el código"
                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500 focus:ring-2 focus:ring-blue-200" />

            <button (click)="submitCode()"
                class="bg-blue-600 text-white p-3 rounded-lg  flex items-center justify-center hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400">

                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24">
                    <path
                        d="M10 2a8 8 0 015.292 13.708l4.707 4.707-1.414 1.414-4.707-4.707A8 8 0 1110 2zm0 2a6 6 0 100 12 6 6 0 000-12z" />
                </svg>
            </button>

        </div>
    </div>
</div>