<div class="flex items-center justify-between px-4 py-2 md:px-6">
    <!-- Logo o título -->
    <div class="flex items-center gap-4">
      <!-- Ícono del menú o logo (opcional) -->
      <button
        class="w-8 h-8 flex items-center justify-center rounded-full bg-gray-100 text-gray-600 sm:hidden"
        aria-label="Abrir menú"
        type="button">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
          <path
            d="M3 5h14M3 10h14M3 15h14"
          ></path>
        </svg>
      </button>
      <!-- Nombre de la página -->
      <h6 class="text-gray-900 text-lg font-semibold block text-center w-full sm:w-auto">{{currentRouteName}}</h6>
    </div>
  
    <!-- Usuario y Menú -->
    <div class="flex items-center gap-4">
      <!-- Saludo al usuario -->
      <div class="hidden sm:flex items-center gap-2">
        <span class="text-sm text-gray-600 font-medium">{{'NAVBAR.HELLO' | translate }},</span>
        <span class="text-sm font-semibold text-gray-900">{{ fullName }} - {{ rolName }}</span>
      </div>
  
      <!-- Avatar del usuario -->
      <div class="w-10 h-10">
        <img
          src="{{getPhotoUser()}}"
          alt="Avatar del usuario"
          class="w-full h-full rounded-full object-cover border border-gray-300"
        />
      </div>
    </div>
  </div>
  