<div *ngIf="showInfoModal" class="fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center z-50 px-4">
    <div class="bg-white p-6 rounded-lg shadow-lg w-full max-w-md md:max-w-lg">
        <h6 class="text-xl font-bold text-gray-800 mb-4">{{ modalTitle }}</h6>
        <p class="text-gray-700">{{ modalContent }}</p>
        <div class="flex justify-end mt-4">
            <button 
                class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-lg shadow-md"
                (click)="showInfoModal = false">
                Cerrar
            </button>
        </div>
    </div>
</div>


<div id="instructionsAlert" class="fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center z-50">
    <div class="bg-white p-6 rounded-lg shadow-lg w-[600px] max-w-full">
        <h4 class="text-2xl font-bold text-gray-800 mb-4">Instrucciones del Juego</h4>
        <div class="text-gray-700 text-sm mb-4 max-h-96 overflow-y-auto">
            <p><strong>Objetivo del Juego:</strong></p>
            <p>Construye frases o coloca palabras correctas a partir de los elementos disponibles para las variables,
                valores y recomendaciones lingüísticas.</p>
            <p>Cada categoría debe completarse correctamente para avanzar al siguiente RNF.</p>
            <hr class="my-2">
            <p><strong>Cómo Jugar:</strong></p>
            <ul class="list-disc pl-4">
                <li>Arrastra las palabras disponibles a las cajas correspondientes.</li>
                <li>Coloca las palabras en el orden correcto para formar la frase.</li>
                <li>El puntaje aumenta si aciertas y disminuye si te equivocas.</li>
                <li>Avanza al siguiente RNF con el botón <strong>"Siguiente"</strong>.</li>
            </ul>
            <hr class="my-2">
            <p><strong>Consejos:</strong></p>
            <ul class="list-disc pl-4">
                <li>Lee la descripción del RNF antes de empezar.</li>
                <li>Organiza tus ideas antes de colocar las palabras.</li>
                <li>Puedes reorganizar las palabras si es necesario.</li>
                <li>Observa el temporizador en la esquina superior derecha. Completa el juego en el menor tiempo posible
                    para un mejor desempeño.</li>
            </ul>
        </div>
        <div class="flex justify-end">
            <button class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-lg shadow-md"
                (click)="closeInstructions()">
                ¡Entendido!
            </button>
        </div>
    </div>
</div>

<div *ngIf="showConfirmationModal"
    class="fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center z-50">
    <div class="bg-white p-6 rounded-xl shadow-xl w-[400px] sm:w-[500px] max-w-full overflow-y-auto">
        <!-- Título -->
        <h4 class="text-2xl font-bold text-blue-600 mb-4">Confirmación</h4>
        <p class="text-gray-600 mb-6">Por favor, revisa tus respuestas antes de enviarlas:</p>

        <!-- Contenedor de respuestas -->
        <div class="bg-gray-100 rounded-lg p-4 mb-6 border border-gray-300 max-h-96 overflow-y-auto space-y-4">
            <!-- Iterar sobre las respuestas -->
            <div *ngFor="let answer of completedAnswers; let i = index" class="bg-white p-4 rounded-lg shadow-md">
                <h5 class="text-lg font-semibold text-blue-500 mb-2">RNF {{ i + 1 }}</h5>
                <p class="text-gray-700"><strong>Variable Lingüística:</strong> {{ answer.variable || 'No seleccionada'}}</p>
                <p class="text-gray-700"><strong>Valor Lingüístico:</strong> {{ answer.value || 'No seleccionada' }}</p>
                <p class="text-gray-700"><strong>Recomendación Lingüística:</strong> {{ answer.recomend || 'No seleccionada' }}</p>
            </div>
        </div>

        <!-- Botones -->
        <div class="flex justify-end space-x-4">
            <button (click)="cancelSubmit()"
                class="bg-gray-500 hover:bg-gray-600 text-white px-4 py-2 rounded-lg shadow-md transition">
                Cancelar
            </button>
            <button (click)="submitAnswers()"
                class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-lg shadow-md transition">
                Enviar
            </button>
        </div>
    </div>
</div>

<div *ngIf="currentQuestion" class="p-6 bg-gray-100 rounded-lg shadow-lg">
    <!-- Encabezado -->
    <div class="flex flex-wrap justify-between items-center mb-6">
        <!-- Título principal -->
        <div class="mb-2 sm:mb-0">
            <h3 class="text-lg font-bold text-blue-600">
                RNF {{ currentQuestionIndex + 1 }} de {{ questions.length }}
            </h3>
            <p class="original-question text-gray-700">{{ currentQuestion.nfr }}</p>
        </div>

        <!-- Puntaje y Tiempo -->
        <div class="score-timer text-start">
            <!-- <p class="font-semibold">Puntaje: {{ score.toFixed(2) }}</p>
            <p class="font-semibold">Puntaje: {{ score.toFixed(2) }} / {{ 100 }}</p> -->
            <p class="text-sm">Tiempo: {{formatTime(timer)}}</p>
        </div>
    </div>

    <!-- Lista de elementos disponibles en una fila -->
    <div class="source-container p-4 bg-white rounded-lg shadow-md mb-6">
        <h6 class="text-md font-semibold text-gray-800 mb-2">Elementos disponibles</h6>
        <div cdkDropList #sourceList="cdkDropList" [cdkDropListData]="questionWords"
            [cdkDropListConnectedTo]="[variableList, valueList, recomendList]"
            class="drop-zone bg-gray-50 border border-gray-300 rounded-lg p-4 flex flex-wrap gap-4"
            (cdkDropListDropped)="drop($event)">
            <div *ngFor="let item of questionWords"
                class="drag-item p-2 bg-blue-100 rounded-lg shadow-sm cursor-pointer" cdkDrag
                (cdkDragMoved)="onDragMove(item)">
                {{item}}
            </div>
        </div>
    </div>

    <!-- Contenedores de arrastre -->
    <div class="drag-drop-container grid grid-cols-1 md:grid-cols-3 gap-6">
        <!-- Variable -->
        <div class="target-box p-4 bg-white rounded-lg shadow-md">
            <div class="flex items-start justify-start space-x-2">
                <!-- Texto -->
                <h6 class="text-md font-semibold text-gray-800">Variable Lingüística</h6>
                <!-- Botón del Icono -->
                <button 
                    (click)="openInfoModal('variable')" 
                    class="rounded-full hover:bg-blue-100 focus:outline-none">
                    <svg 
                        xmlns="http://www.w3.org/2000/svg" 
                        class="h-7 w-7 text-gray-500 hover:text-blue-600" 
                        fill="none" 
                        viewBox="0 0 24 24" 
                        stroke="currentColor" 
                        stroke-width="2">
                        <path 
                            stroke-linecap="round" 
                            stroke-linejoin="round" 
                            d="M13 16h-1v-4h-1m1-4h.01M12 2a10 10 0 100 20 10 10 0 000-20z" />
                    </svg>
                </button>
            </div>
            
            
            <div cdkDropList #variableList="cdkDropList" [cdkDropListData]="variable"
                [cdkDropListConnectedTo]="[sourceList, valueList, recomendList]"
                class="drop-zone bg-gray-50 border border-gray-300 rounded-lg p-4" (cdkDropListDropped)="drop($event)">
                <div *ngFor="let item of variable"
                    class="drag-item p-2 bg-blue-100 rounded-lg shadow-sm my-2 cursor-pointer" cdkDrag
                    (cdkDragMoved)="onDragMove(item)">
                    {{item}}
                </div>
            </div>
        </div>

        <!-- Valor -->
        <div class="target-box p-4 bg-white rounded-lg shadow-md">
            <h6 class="text-md font-semibold text-gray-800 mb-2">Valor Linguistico</h6>
            <div cdkDropList #valueList="cdkDropList" [cdkDropListData]="value"
                [cdkDropListConnectedTo]="[sourceList, variableList, recomendList]"
                class="drop-zone bg-gray-50 border border-gray-300 rounded-lg p-4" (cdkDropListDropped)="drop($event)">
                <div *ngFor="let item of value"
                    class="drag-item p-2 bg-blue-100 rounded-lg shadow-sm my-2 cursor-pointer" cdkDrag
                    (cdkDragMoved)="onDragMove(item)">
                    {{item}}
                </div>
            </div>
        </div>

        <!-- Recomendación -->
        <div class="target-box p-4 bg-white rounded-lg shadow-md">
            <h6 class="text-md font-semibold text-gray-800 mb-2">Recomendación Linguistica</h6>
            <div cdkDropList #recomendList="cdkDropList" [cdkDropListData]="recomend"
                [cdkDropListConnectedTo]="[sourceList, variableList, valueList]"
                class="drop-zone bg-gray-50 border border-gray-300 rounded-lg p-4" (cdkDropListDropped)="drop($event)">
                <div *ngFor="let item of recomend"
                    class="drag-item p-2 bg-blue-100 rounded-lg shadow-sm my-2 cursor-pointer" cdkDrag
                    (cdkDragMoved)="onDragMove(item)">
                    {{item}}
                </div>
            </div>
        </div>
    </div>

    <!-- Botones de navegación -->
    <div class="navigation-buttons flex justify-center items-center mt-6 space-x-4">
        <button (click)="previousQuestion()" *ngIf="currentQuestionIndex > 0"
            class="bg-blue-500 text-white px-4 py-2 rounded-lg shadow-md disabled:opacity-50">
            Anterior
        </button>
        <button (click)="nextQuestion()" [disabled]="!canProceed()"
            class="bg-blue-500 text-white px-4 py-2 rounded-lg shadow-md disabled:opacity-50">
            {{ currentQuestionIndex === questions.length - 1 ? 'Finalizar' : 'Siguiente' }}
        </button>
    </div>

</div>


<!-- <div id="containerQuestions" *ngIf="currentQuestion">
    <div class="question-header">
        <h2>RNF {{ currentQuestionIndex + 1 }} de {{ questions.length }}</h2>
        <p class="original-question">{{ currentQuestion.nfr }}</p>
    </div>


    <div class="drag-drop-container">
        <div class="source-container">
            <h3>Elementos disponibles</h3>
            <div cdkDropList #sourceList="cdkDropList" [cdkDropListData]="questionWords"
                [cdkDropListConnectedTo]="[variableList, valueList, recomendList]" class="drop-zone"
                (cdkDropListDropped)="drop($event)">
                @for (item of questionWords; track item) {
                <div class="drag-item" cdkDrag (cdkDragMoved)="onDragMove(item)">{{item}}</div>
                }
            </div>
        </div>

        <div class="target-containers">
            <div class="target-box">
                <h3>Variable</h3>
                <div cdkDropList #variableList="cdkDropList" [cdkDropListData]="variable"
                    [cdkDropListConnectedTo]="[sourceList, valueList, recomendList]" class="drop-zone"
                    (cdkDropListDropped)="drop($event)">
                    @for (item of variable; track item) {
                    <div class="drag-item" cdkDrag (cdkDragMoved)="onDragMove(item)">{{item}}</div>
                    }
                </div>
            </div>

            <div class="target-box">
                <h3>Valor</h3>
                <div cdkDropList #valueList="cdkDropList" [cdkDropListData]="value"
                    [cdkDropListConnectedTo]="[sourceList, variableList, recomendList]" class="drop-zone"
                    (cdkDropListDropped)="drop($event)">
                    @for (item of value; track item) {
                    <div class="drag-item" cdkDrag (cdkDragMoved)="onDragMove(item)">{{item}}</div>
                    }
                </div>
            </div>

            <div class="target-box">
                <h3>Recomendación</h3>
                <div cdkDropList #recomendList="cdkDropList" [cdkDropListData]="recomend"
                    [cdkDropListConnectedTo]="[sourceList, variableList, valueList]" class="drop-zone"
                    (cdkDropListDropped)="drop($event)">
                    @for (item of recomend; track item) {
                    <div class="drag-item" cdkDrag (cdkDragMoved)="onDragMove(item)">{{item}}</div>
                    }
                </div>
                <div class="navigation-buttons">
                    <button (click)="previousQuestion()" [disabled]="currentQuestionIndex === 0" class="nav-button">
                        Anterior
                    </button>
                    <button (click)="nextQuestion()" [disabled]="currentQuestionIndex === questions.length - 1"
                        class="nav-button">
                        Siguiente
                    </button>
                </div>
            </div>
        </div>
    </div>

</div> -->




<!-- <div>
        <label for="nfr">NFR:</label>
        <div id="question-words-container" cdkDropList cdkDropListOrientation="horizontal" #questionList="cdkDropList"
            [cdkDropListData]="questionWords"
            [cdkDropListConnectedTo]="[variableList, valueList, recomendedValuesist]"
            class="example-list" (cdkDropListDropped)="drop($event)" >
            @for (item of questionWords; track item) {
                <div class="example-box" cdkDrag (cdkDragMoved)="onDragMove(item)">{{item}}</div>
              }
          </div>
    </div>
      

    <div>
        <label for="variable">Variable:</label>
        <div id="variable-container" cdkDropList cdkDropListOrientation="horizontal" #variableList="cdkDropList"
            [cdkDropListData]="variable"
            [cdkDropListConnectedTo]="[questionList, valueList, recomendedValuesist]"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            @for (item of variable; track item) {
                <div class="example-box" cdkDrag (cdkDragMoved)="onDragMove(item)">{{item}}</div>
            }
        </div>
    </div>

    <div>
        <label for="value">Value:</label>
        <div id="value-container" cdkDropList cdkDropListOrientation="horizontal" #valueList="cdkDropList"
            [cdkDropListData]="value"
            [cdkDropListConnectedTo]="[questionList, variableList, recomendedValuesist]"
            (cdkDropListDropped)="drop($event)">
            @for (item of value; track item) {
                <div class="example-box" cdkDrag (cdkDragMoved)="onDragMove(item)">{{item}}</div>
            }
        </div>
    </div>

    <div>
        <label for="RecomendedValues">Recomended Values:</label>
        <div id="variable-container" cdkDropList cdkDropListOrientation="horizontal" #recomendedValuesist="cdkDropList"
            [cdkDropListData]="recomend"
            [cdkDropListConnectedTo]="[questionList, variableList, valueList]"
            (cdkDropListDropped)="drop($event)">
            @for (item of recomend; track item) {
                <div class="example-box" cdkDrag (cdkDragMoved)="onDragMove(item)">{{item}}</div>
            }
        </div>
    </div> -->

<!-- <div *ngIf="currentQuestionIndex > 0">
        <button mat-raised-button color="primary" (click)="previousQuestion()">Anterior</button>
      </div>
    <button mat-raised-button color="primary" (click)="againQuestion()">Siguiente</button> -->